
@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

.header{
display: flex;
justify-content: space-between;
color: #ccc;
background-color: #000;
align-items: center;
}

.nav-item{
    align-items: baseline;
    color: #ccc;

}

.item{
    display:flex;
    align-items: center;
    padding-top: 20px;
    text-decoration: none;
}




.nav-item{
    display:flex;
 justify-content: center;
 width: 100%;
 /* padding: 0 10px; */
 font-size: 10px;
 list-style: none;
 margin-bottom: 30px;
}

.item:not(:last-child){
    margin-right: 30px;
}

.estra{

 position: relative;
  background: url(../img/bg1.jpg) no-repeat;
  background-size: cover; 
  /*横いっぱいに伸ばすことができる */
background-position: center; 
height: 600px;
}

.estra p{ 
     position: absolute;
     font-weight: bold;
     font-size:100px;
     top:50%;
     left:50%;
       transform: translate(-50%, -50%);
     color: #ccc;
     font-style: italic;
     line-height: 1;

 }  

.main_visual{


}


.about{
text-align: center;

}



table{
    /* display: inline-block; */
    border-collapse: collapse;
    border-spacing: 0;
width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}


table th,
table td{
    border-bottom:1px #ccc solid;
    padding: 10px 40px 10px;
}

table th{
    padding: 10px 0;
    font-weight:bold;
margin-left: 0;
/* margin-right: auto; */
text-align: left;
}

table th{
    text-align: center;
    padding: 20px 0;
    /* border-right: solid #ddd 1px;
    border-left: solid #ddd 1px; */
}


#contact{
    margin: 40px;
    text-align: center;
    background: rgb(241, 241, 241);
}

.section-title{
padding: 20px;
}

input,
textarea{
box-sizing: border-box;
width: 60%;
}

input{
    margin-bottom: 20px;
    padding: 7px;
}
.form{
    width:70%;
    margin: 0 auto;
}

label{
    display: inline-block;
    width: 30%;
}

.button{
background-color: #000;
color: #fff;
padding: 10px 30px;
margin: 30px 0;
}

 .button-submit { 
   text-align: center; 
 } 








.footer{
/* display: flex; */
/* align-items: center; */
  width: 100%;
height: 150px;

color: white;
margin: 0 auto;
text-align: center;
}


.footer-title{

 font-size: 15px;
font-weight: bold;
text-align: center;
padding: 20px 0;
}

.copyright{
 color: #000;   
    font-size: 8px;
}